<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cinematesmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icona_fav2"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_icona_fav2"
        android:supportsRtl="true"
        android:theme="@style/Theme.CinematesMobile"
        android:usesCleartextTraffic="true">

        <activity android:name=".Frag.CommentiActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Frag.FilmInComuneActivity" />
        <activity android:name=".Search.VisualizzaAmiciInComuneActivity" />
        <activity
            android:name=".Frag.ListeAmiciActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Frag.ProprieRecensioniActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Segnalazioni.SegnalazioniActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Recensioni.ScriviRecensioneActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Recensioni.RecensioniActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Search.ActivityProfiloAltroUtente"
            android:screenOrientation="locked" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Search.VisualizzaImmaginiActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Search.MovieDetailActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Search.AttoriDetailActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Frag.FragmentActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.RegisterFieldsActivitySuccess"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.RegisterFieldsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.ConfirmCodeActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.SignInActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.LogOutActivitySuccess"
            android:screenOrientation="locked" />
        <activity
            android:name=".Log.ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="locked" />
        <activity
            android:name=".Main.WelcomeActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>