<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cinematesmobile">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchericona"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launchericona_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CinematesMobile"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Log.LoginActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Frag.CommentiActivity"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Frag.FilmInComuneActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Search.VisualizzaAmiciInComuneActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Frag.ListeAmiciActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Frag.ProprieRecensioniActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Segnalazioni.SegnalazioniActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Recensioni.ScriviRecensioneActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Recensioni.RecensioniActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Search.ActivityProfiloAltroUtente"
            android:screenOrientation="locked" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".Search.VisualizzaImmaginiActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Search.MovieDetailActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Search.AttoriDetailActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".Frag.FragmentActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.RegisterFieldsActivitySuccess"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.RegisterFieldsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.ConfirmCodeActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.SignInActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".SignIn.LogOutActivitySuccess"
            android:screenOrientation="locked" />
        <activity
            android:name=".Main.WelcomeActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>