<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cinematesmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_oscar"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/ic_oscar"
        android:supportsRtl="true"
        android:theme="@style/Theme.CinematesMobile"
        android:usesCleartextTraffic="true">
        <activity android:name=".Search.ActivityProfiloUtenteCercato"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Search.VisualizzaImmaginiActivity" />
        <activity android:name=".Search.MovieDetailActivity" />
        <activity android:name=".Search.AttoriDetailActivity" />
        <activity android:name=".Frag.FragmentActivity" />
        <activity android:name=".SignIn.RegisterFieldsActivity" />
        <activity android:name=".SignIn.ConfirmCodeActivity" />
        <activity android:name=".SignIn.SignInActivity" />
        <activity
            android:name=".Log.ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".Main.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>